.contact ul li, .about ul li, .categories ul li{
    list-style: none;
}

.contact ul li a, .about ul li a, .categories ul li a{
    display: flex;
    list-style-type: none;
    text-decoration: none;
}

